# ---- ДИРЕКТОРИИ ----
# Игнорирование всех файлов и папок ТОЛЬКО в конкретной директории(включая поддиректории и файлы в них)

*
!*/
# во всех подкаталогах

!*.h
!*.c
!*.cpp
!*.vcxproj
!*.vcxproj.filters
!*.sln
# проекты

!*.gitignore
# гит

!*.doc
!*.docx
!*.txt
# отчеты